.header-light {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 4.625rem;
    background: var(--primary-dark);

    time {
        font-size: 0.9rem;
        color : var(--white);
    }

    .social {
        display: flex;
        gap: 1rem;
    }

}

.header-dark {
    display: flex;
    justify-content: space-between;
    padding: 0 4.625rem;
    background: var(--primary-dark2);

    img {
        margin: 18.42px 0;
        min-height: 43.16px;
    }

    .navigation {
        display: flex;
        color: var(--white);
        align-items: center;
        gap: 1.4rem;
        margin-left: 14.25rem;

        a {
            display: inline-block;
            position: relative;
            padding: 0 0.5rem;
            height: 5rem;
            line-height: 5rem;
        }

        .active::after {
            content: '';
            height: 3px;
            border-radius: 2px 2px 0 0;
            width: 100%;
            position: absolute;
            bottom: 1px;
            left: 0;
            bottom: -1px;
            background: var(--primary);
        }

    }

}

.stores {
    span {
        color: var(--primary);
        display: flex;
        align-items: center;
    }
}